In [42]:
import pandas as pd
import numpy as np
main_df=pd.read_csv("text_words");
main_df=main_df.rename(columns={"name": "word"})
alpha = 'a'
test_list=[]
diction={}
for i in range(0, 26):
    test_list.append(alpha)
    alpha = chr(ord(alpha) + 1)

cols = list(main_df.columns)[1:-1]
temp_df = main_df[cols]

In [43]:
txt = input()
diction={}
ind=0
for i in test_list:
    diction[i]=txt.count(i)
data = pd.DataFrame.from_dict(diction, orient='index').T
for index,row in temp_df.iterrows():
    x=row
    if(np.array_equal(data.values[0],row.values)):
        ind = index
        print(ind)
        break
print(main_df.iloc[ind])

yenom
98634
Unnamed: 0    98634
a                 0
b                 0
c                 0
d                 0
e                 1
f                 0
g                 0
h                 0
i                 0
j                 0
k                 0
l                 0
m                 1
n                 1
o                 1
p                 0
q                 0
r                 0
s                 0
t                 0
u                 0
v                 0
w                 0
x                 0
y                 1
z                 0
word          emony
Name: 98634, dtype: object

In [44]:
main_df.iloc[ind].word

'emony'

In [25]:
x.values

array([370100,      0,      0,      1,      0,      1,      0,      0,
            0,      3,      0,      0,      0,      0,      1,      1,
            0,      0,      1,      0,      2,      0,      0,      1,
            0,      0])

In [6]:
data.values[0]

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0])

In [20]:
main_df.iloc[:,1:]

,a,b,c,d,e,f,g,h,i,j,...,r,s,t,u,v,w,x,y,z,name
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,a
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,aa
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,aaa
3,2,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,aah
4,2,0,0,1,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,aahed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370096,1,0,0,0,0,0,1,0,3,0,...,0,1,0,0,0,1,0,0,1,zwinglianism
370097,1,0,0,0,0,0,1,0,3,0,...,0,1,1,0,0,1,0,0,1,zwinglianist
370098,0,0,0,0,1,0,0,0,1,0,...,1,0,2,0,0,1,0,0,1,zwitter
370099,0,0,0,0,1,0,0,0,2,0,...,1,0,2,0,0,1,0,0,1,zwitterion
370100,0,0,1,0,1,0,0,0,3,0,...,1,0,2,0,0,1,0,0,1,zwitterionic

In [30]:
main_df.iloc[:,1].name

'a'